<ion-header>
  <ion-toolbar>
    <ion-title>
      Gerenciador de obras - Autor.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style=" background: rgb(133, 221, 221);">
  <ion-card>
    <h1 style="text-align: center; background: rgba(206, 200, 200, 0.615);"> Autores</h1>
    <br />
    <br />
    <!-- <br />
      <br /> -->
      
    <div style="text-align: center;">
        <ion-button (click)="alterCreate()" >Adicionar </ion-button>
        <ion-button (click)="alterGetAll()" >Gerenciar </ion-button>
        
      </div>
    </ion-card>

  <!-- Create new -->
  <ion-card [hidden]="!showCreate" style="width: max-width ;height:60%;">
    <h3  [hidden]="edit" >Cadastrar um novo autor</h3><br />
    <h3  [hidden]="!edit">Editar autor           </h3><br />

    <ion-input [(ngModel)] = "nome" >
      <ion-label><b>Nome: </b></ion-label>
    </ion-input>

    <ion-input  [(ngModel)] = "pais" (keyup)="checkCountry()" >
      <ion-label><b>Pais: </b></ion-label>
    </ion-input>

    <ion-input [(ngModel)] = "dtnascimento">
      <ion-label><b>Data de nascimento: </b></ion-label>
    </ion-input>

    <label for="singleSelect"><b>Sexo: </b></label>
    <select name="singleSelect" ng-model="data.singleSelect" [(ngModel)] = "sexo">
      <option value="masculino">Masculino</option>
      <option value="feminino" >Feminino </option>
    </select>

    <ion-input type="number" [(ngModel)] = "cpf" [hidden]="showCpf" >
      <ion-label ><b>CPF: </b></ion-label>
    </ion-input>

    <ion-input [(ngModel)] = "email">
      <ion-label><b>E-mail: </b></ion-label>
    </ion-input>
    <br />
    <br />

    <div style="top: 40px; left: 5px;" [hidden]="edit">
      <ion-button (click)="save()" >Salvar</ion-button>
      <ion-button (click)="clear()">Limpar</ion-button>
    </div>

    <div style="top: 40px; left: 5px;" [hidden]="!edit">
      <ion-button (click)="saveChange()" >Salvar alterações</ion-button>
    </div>
  </ion-card>
  
  <!-- Search for one -->
  <ion-card [hidden]="!showSearch" style="width: max-width ;">
    <h3>Buscar autor</h3><br />

    <ion-input>
      <ion-label><b>Nome: </b></ion-label>
    </ion-input>

    <ion-input>
      <ion-label><b>Pais: </b></ion-label>
    </ion-input>
    <ion-input>
      <ion-label><b>Data de nascimento: </b></ion-label>
    </ion-input>
    
  </ion-card>

  <!-- Show all -->
  <ion-card [hidden]="!showAll" style="width: max-width ;height:max-content;">
    <h3>Todos os autores</h3><br />

    
    
    <ion-grid style="text-align:  center; ">
      <ion-row style=" background: rgba(206, 200, 200, 0.615);">
        <ion-col style="width: min-width">
          <b>Codigo</b>
        </ion-col>
        <ion-col>
          <b>Nome</b>
        </ion-col>
        <ion-col>
          <b>Pais de origem </b>
        </ion-col>
        <ion-col>
          <b>Sexo</b>
        </ion-col>
        <ion-col>
          <b>Email</b>
        </ion-col>
        <ion-col>
          <b>CPF</b>
        </ion-col>
        <ion-col>
          <!-- <b>Acoes</b> -->
        </ion-col>
      </ion-row>
      
      <ion-row *ngFor="let item of autores; index as i">
          <ion-col style=" background: rgba(174, 194, 166, 0.315);">
              {{item.codigo}}
        </ion-col>
        <ion-col>
          {{item.nome}}
        </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          {{item.pais}}
        </ion-col>
        <ion-col>
          {{item.sexo}}
        </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
            {{item.email}}
        </ion-col>
        <ion-col>
          {{item.cpf}}
        </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          <ion-button size="small" (click)= "del(item)">
            <ion-icon name="remove-circle-outline"></ion-icon>          
          </ion-button>
          <ion-button size="small" (click)= "editUser(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)= "link(item)">
            <ion-icon name="brush"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>
