<ion-header>
  <ion-toolbar>
    <ion-title>
      Gerenciador de obras - Obras.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style=" background: rgb(133, 221, 221);">
  <ion-card>
    <h1 style="text-align: center; background: rgba(206, 200, 200, 0.615);">Obras</h1>
    <br />
    <br />
    <!-- <br />
      <br /> -->
      
    <div style="text-align: center;">
        <ion-button (click)="alterCreate()" >Adicionar </ion-button>
        <ion-button (click)="alterGetAll()" >Gerenciar </ion-button>
        <ion-button (click)="alterSearch()" >Buscar    </ion-button>
      </div>
    </ion-card>

  <!-- Create new -->
  <ion-card [hidden]="!showCreate" style="width: max-width ;height:60%;">
    <h3  [hidden]="edit" >Cadastrar uma nova obra</h3><br />
    <h3  [hidden]="!edit">Editar obra            </h3><br />

    <ion-input [(ngModel)] = "nome"  >
      <ion-label><b>Nome: </b></ion-label>
    </ion-input>

    <ion-input  [(ngModel)] = "descricao" type="text" >
      <ion-label><b>Descricao: </b></ion-label>
    </ion-input>

    <ion-input [(ngModel)] = "dtPublicacao">
      <ion-label><b>Data de publicação: </b></ion-label>
    </ion-input>

    

    <ion-input type="number" [(ngModel)] = "dtexposicao"  >
      <ion-label ><b>Data de exposição: </b></ion-label>
    </ion-input>

    <ion-input [(ngModel)] = "img">
      <ion-label><b>Imagem: </b></ion-label>
    </ion-input>
    <br />
    <br />

    <div style="top: 40px; left: 5px;" [hidden]="edit">
      <ion-button (click)="save()" >Salvar</ion-button>
      <ion-button (click)="clear()">Limpar</ion-button>
    </div>

    <div style="top: 40px; left: 5px;" [hidden]="!edit">
      <ion-button (click)="saveChange()" >Salvar alterações</ion-button>
    </div>
  </ion-card>
  
  <!-- Search for one
  <ion-card  style="width: max-width ;">

    <ion-grid style="text-align:  left; ">
      <ion-row style="">
        <ion-col style="width: min-width">
          <ion-input [(ngModel)] = "nome" >
            <ion-label><b>Nome: </b></ion-label>
          </ion-input>
        </ion-col>
        <ion-col style="width: min-width">
            <ion-input [(ngModel)] = "descricao" >
              <ion-label><b>Descrição: </b></ion-label>
            </ion-input>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <!-- Show all and search -->
  <ion-card [hidden]="!(showAll || showSearch)" style="width: max-width ;height:max-content;">
    <h3 [hidden]="!showAll">Todos os autores</h3>
    <h3 [hidden]="!showSearch">Buscar autor</h3>

    <br />
    <br [hidden]="!showAll" />

    <ion-grid [hidden]="!showSearch" style="text-align:  left; ">
        <ion-row style="">
          <ion-col style="width: min-width">
            <ion-input [(ngModel)] = "nome" (keyup)="findByName()">
              <ion-label><b>Nome: </b></ion-label>
            </ion-input>
          </ion-col>
          <ion-col style="width: min-width" (keyup)="findByDescription()">
              <ion-input [(ngModel)] = "descricao" >
                <ion-label><b>Descrição: </b></ion-label>
              </ion-input>
            </ion-col>
        </ion-row>
      </ion-grid>
    
    <ion-grid style="text-align:  center; ">
      <ion-row style=" background: rgba(206, 200, 200, 0.615);">
        <ion-col style="width: min-width">
          <b>&nbsp;</b>
        </ion-col>
        
        <ion-col>
          <b>Nome</b>
        </ion-col>
        <ion-col>
          <b>Descrição</b>
        </ion-col>
        <ion-col>
          <b>Data de publicação</b>
        </ion-col>
        <ion-col>
          <b>Data de exposição</b>
        </ion-col>
        <ion-col>
          <b>Imagem</b>
        </ion-col>
        <ion-col>
          <!-- <b>Acoes</b> -->
        </ion-col>
      </ion-row>
      
      <ion-row *ngFor="let item of obras; index as i">
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          <ion-button size="small">
            <ion-icon name="people"></ion-icon>
            &nbsp; Autores
          </ion-button>
        </ion-col>
        
        <ion-col>
            {{item.nome}}
          </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          {{item.descricao}}
        </ion-col>
        <ion-col>
          {{item.dtpublicacao}}
        </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          {{item.dtexposicao}}
        </ion-col>
        <ion-col>
          {{item.img}}
        </ion-col>
        <ion-col style=" background: rgba(174, 194, 166, 0.315);">
          <ion-button size="small" (click)= "del(item)">
            <ion-icon name="remove-circle-outline"></ion-icon>          
          </ion-button>
          <ion-button size="small"(click)= "editObra(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="genSer.showMessage('Ainda não implementado. :´(')">
            <ion-icon name="person-add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-content>
