<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="autor">
      <ion-icon name="person"></ion-icon>
      <ion-label>Autor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="obra">
      <ion-icon name="brush"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
