<ion-header>
  <ion-toolbar>
    <ion-title>
      Gerenciador de obras - Home.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="text-align: center;">
      <h1>A simple program project</h1>
      <br />
      <br />

      <h3>
        The objective of this software product, is only prove capacity tecnical<br />
        on the tecnologies needed by Stefanini inc.<br />
        <br />
        All documentation used here has gived by the Stefanini on you gitlab repository.<br>
        <br />
        I'm Thiago Vanilson Florencio, an this is my implementation.<br />
        <br />
        Test this software and enjoy. :)

      </h3>
    </div>
</ion-content>
